{extend name="common/base" /}
{block name="body"}
<form action="{:url()}" method="post" class="form-horizontal">
    <div class="form-item">
        <label class="item-label">幻灯片名称<span class="check-tips">（用于前端的幻灯片名称）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">幻灯片图片<span class="check-tips">（用于前端的栏目图标展示）</span></label>
        <div class="controls">
            <div>{my:webuploader limit="1" name="picture_id" list="$info['picture_id']|default=''"/}</div>
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">幻灯片链接<span class="check-tips">（用于前端的幻灯片链接）</span></label>
        <div class="controls">
            <input type="text" class="text input-small" name="link" value="{$info.link|default=0}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">幻灯片点击次数<span class="check-tips">（用于前端的幻灯片点击次数）</span></label>
        <div class="controls">
            <input type="text" class="text input-small" name="click_id" value="{$info.click_id|default=0}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">幻灯片	排序<span class="check-tips">（用于前端的幻灯片排序）</span></label>
        <div class="controls">
            <input type="text" class="text input-small" name="sort" value="{$info.sort|default=0}">
        </div>
    </div>
     <div class="form-item">
            <label class="item-label">幻灯片状态</label>
            <div class="controls">
                <select name="status">
                    <option value="0">禁止</option>
                    <option value="1">正常</option>
                </select>
            </div>
     </div>
    <div class="form-item umar-t50">
        <input type="hidden" name="member_id" value="{$info.member_id}">
        <input type="hidden" name="pub_id" value="{$info.pub_id}">
        {if condition=:isset($info['id'])}
        <input type="hidden" name="id" value="{$info.id}">
        {/if}
        <button class="btn submit-btn ajax-posts" type="submit">确 定</button>
        <button class="btn btn-return" onclick="goBack()">返 回</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript">
</script>
{/block}
