<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>后台首页</title>
        <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="__STATIC__/main.css" rel="stylesheet" type="text/css"/>
        <!--[if lt IE 9]>
          <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
        </style>
    </head>
    <body>


        <div class="left">

            <div class="title">
                <img src="__IMG__/logo.png" alt=""/>
            </div>
            <div class="menu frist">

                <ul>
                    <li>
                        <div class="icon frist_page"></div>
                        <a>菜单一</a>
                        <div class="icon flod"></div>
                        <div class="menu second">
                            <ul>
                                <li>
                                    <div class="icon frist_page"></div>
                                    <a>菜单二</a>
                                    <div class="icon flod"></div>
                                    <div class="menu third">
                                        <div class="triangle-left angle"></div>
                                        <ul>
                                            <li><a>菜单三</a></li>
                                            <li><a>菜单三</a></li>
                                            <li><a>菜单三</a></li>
                                            <li><a>菜单三</a></li>
                                            <li><a>菜单三</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="icon frist_page"></div>
                        <a>菜单一</a>
                        <div class="icon flod"></div>
                        <div class="menu second">
                            <ul>
                                <li>
                                    <div class="icon frist_page"></div>
                                    <a>菜单二</a>
                                    <div class="icon flod"></div>
                                    <div class="menu third">
                                        <div class="triangle-left angle"></div>
                                        <ul>
                                            <li><a>菜单三</a></li>
                                            <li><a>菜单三</a></li>
                                            <li><a>菜单三</a></li>
                                            <li><a>菜单三</a></li>
                                            <li><a>菜单三</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
        <div class="right">
            <div class="top">
                
                <div class="user">
                    <div class="head_img"></div>
                    <a>菜单一</a>
                    <div class="user_angle triangle-bottom"></div>
                    <div class="user_extend">
                        <ul>
                            <li><a>退出登录</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="content">
                <span class="content_title">十一月</span>
                <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">2013</a></li>
                        <li class="active">十一月</li>
                </ol>
            </div>
            <div class="bottom">
                <span>2016 快手人 By ROL</span>
            </div>
        </div>



        <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
        <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>