<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><img src="{:captcha_src()}" alt="验证码" onclick="this.src='{:captcha_src()}'" /></div>
        <div>{$data}</div>
        <img src="{:url('index/qrcode/view')}">
        
        <div>{:hook('uploadhook', ['name'=>'name'])}</div>
        
<!--        <label class="textarea">
        <textarea name="XXX">我是SB</textarea>
        {:hook('editorforadminhook', array('name'=>'XXX','value'=>'我是SB'))}
        </label>-->
        
<!--        <form action='{:addon_url("editorforadmin://EditorUpload/ue_upimg")}' method="post" enctype="multipart/form-data" accept-charset="utf-8">
            <input name="imgFile" type="file" />
            <input type="submit" value="提交" />
        </form>-->
    </body>
</html>
