{extend name="common/base" /}
{block name="body"}
<form action="{:url()}" method="post" class="form-horizontal">
    <div class="form-item">
        <label class="item-label">{$notice_type_text}标题<span class="check-tips">（用于前端的{$notice_type_text}标题显示）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">{$notice_type_text}内容<span class="check-tips">（用于前端的{$notice_type_text}内容显示）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="content" value="{$info.content|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">{$notice_type_text}排序<span class="check-tips">（用于前端的{$notice_type_text}排序显示）</span></label>
        <div class="controls">
            <input type="text" class="text input-small" name="sort" value="{$info.sort|default=0}">
        </div>
    </div>
    <div class="form-item umar-t50">
        <input type="hidden" name="member_id" value="{$info.member_id}">
        <input type="hidden" name="pub_id" value="{$info.pub_id}">
        {if condition=:isset($info['id'])}
        <input type="hidden" name="id" value="{$info.id}">
        {/if}
        <button class="btn submit-btn ajax-posts" type="submit">确 定</button>
        <button class="btn btn-return" onclick="goBack()">返 回</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript">
</script>
{/block}
