{extend name="common/base" /}
{block name="body"}
<form action="{:url()}" method="post" class="form-horizontal">
    <div class="form-item">
        <label class="item-label">导航名称<span class="check-tips">（用于前端的导航名称）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">导航链接<span class="check-tips">（用于前端的导航链接支出url函数或者完全链接）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="url" value="{$info.url|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">导航排序<span class="check-tips">（用于前端的导航排序）</span></label>
        <div class="controls">
            <input type="text" class="text input-small" name="sort" value="{$info.sort|default=0}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">是否新窗口<span class="check-tips">（是：表示打开新窗口，否：反之）</span></label>
        <div class="controls">
            <label class="radio"><input type="radio" {eq name="$info.target|default=1" value="1"}checked="checked"{/eq} name="target" value="1">是</label>
            <label class="radio"><input type="radio" {eq name="$info.target|default=1" value="0"}checked="checked"{/eq} name="target" value="0">否</label>
        </div>
    </div>
    <div class="form-item umar-t50">
        <input type="hidden" name="member_id" value="{$info.member_id}">
        <input type="hidden" name="pub_id" value="{$info.pub_id}">
        {if condition=:isset($info['id'])}
        <input type="hidden" name="id" value="{$info.id|default=''}">
        {/if}
        <button class="btn submit-btn ajax-posts" type="submit">确 定</button>
        <button class="btn btn-return" onclick="goBack()">返 回</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript">
</script>
{/block}
