{extend name="common/base" /}
{block name="body"}
<div class="cf umar-b toolbar">
    <!-- 高级搜索 -->
    <div class="search-form cf">
        <div class="sleft">
            <input type="text" name="name" class="search-input" value="{:input('title')}" placeholder="请输入地址名称">
            <a class="sch-btn" href="javascript:;" id="search" url="{:url('manage')}"><i class="btn-search"></i></a>
        </div>
    </div>
    <div class="fr cf">
    </div>
</div>

<div class="data-table table-striped">
    <form class="ids">
        <table>
            <thead>
                <tr>
                    <th class="">编号</th>
                    <th class="">城市代码</th>
                    <th class="">地址代码</th>
                    <th class="">地址名称</th>
                    <th class="">中心坐标</th>
                    <th class="">地址等级</th>
                </tr>
            </thead>
            <tbody>
                {notempty name="lists"}
                {volist name="lists" id="vo"}
                <tr>
                        <td><span>{$vo.id}</span></td>
                        <td><span>{$vo.citycode}</span></td>
                        <td><span>{$vo.adcode}</span></td>
                        <td><span>{$vo.name}</span></td>
                        <td><span>{$vo.center}</span></td>
                        <td><span>{$vo.level}</span></td>
                </tr>
                {/volist}
                {else/}
            <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
            {/notempty}
            </tbody>
        </table>
    </form>
    <!-- 分页 -->
    {$lists->render()}
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    $(function () {
        //搜索功能
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
    });
</script>
{/block}