{extend name="common/base" /}

{block name="body"}

<div class="cf umar-b toolbar">
    <!-- 高级搜索 -->
    <div class="search-form cf">
        <div class="sleft">
            <input type="text" name="title" class="search-input" value="{:input('title')}" placeholder="请输入记录信息">
            <a class="sch-btn" href="javascript:;" id="search" url="{:url('actionlog')}"><i class="btn-search"></i></a>
        </div>
    </div>
    <div class="fr cf">
        <a class="btn add-btn" href="{:url('clear')}">清 空</a>
        <button class="btn del-btn ajax-post confirm" url="{:url('del')}" target-form="ids">删 除</button>
        <a class="btn export-btn" href="{:url('import')}">导 出</a>
    </div>
</div>

<div class="data-table table-striped">
    <form>
        <table>
            <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">编号</th>
                    <th class="">行为名称</th>
                    <th class="">记录信息</th>
                    <th class="">执行IP</th>
                    <th class="">执行时间</th>
                    <th class="">操作</th>
                </tr>
            </thead>
            <tbody>
                {notempty name="lists"}
                {volist name="lists" id="vo"}
                <tr>
                    <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo->action->title}</td>
			<td><span>{$vo.remark}</span></td>
			<td><span>{$vo.action_ip}</span></td>
			<td><span>{$vo.create_time_fromat}</span></td>
                    <td>
                        <a class="confirm ajax-get del-a"  title="删除" href="{:url('del?id='.$menu['id'])}">删除</a>
                    </td>
                </tr>
                {/volist}
                {else/}
            <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
            {/notempty}
            </tbody>
        </table>
    </form>
    <!-- 分页 -->
    {$lists->render()}
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    $(function () {
        //搜索功能
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
    });
</script>
{/block}