{extend name="common/base" /}
{block name="body"}
<form action="{:url()}" method="post" class="form-horizontal">
    <div class="form-item">
        <label class="item-label">友情链接标题<span class="check-tips">（用于前端的友情链接标题显示）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">友情链接URL<span class="check-tips">（用于前端的友情链接URL显示）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="url" value="{$info.url|default=''}">
        </div>
    </div>
    <div class="form-item">
            <label class="item-label">友情链接状态</label>
            <div class="controls">
                <select name="status">
                    <option {if condition="empty($info.status) OR $info.status eq 0"} selected="selected" {/if} value="0">禁止</option>
                    <option {if condition="empty($info.status) OR $info.status eq 1"} selected="selected" {/if} value="1">正常</option>
                </select>
            </div>
     </div>
    <div class="form-item umar-t50">
        {if condition=:isset($info['id'])}
        <input type="hidden" name="id" value="{$info.id}">
        {/if}
        <button class="btn submit-btn ajax-posts" type="submit">确 定</button>
        <button class="btn btn-return" onclick="goBack()">返 回</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript">
</script>
{/block}
