{extend name="common/base" /}
{block name="body"}
<form action="{:url()}" method="post" class="form-horizontal">
    <div class="form-item">
        <label class="item-label">后台角色<span class="check-tips">（后台用户的角色）</span></label>
        <div class="controls">
            <select name="group_id">
                {foreach $group_list as $group }
                {if condition='$group.checked' }
                    <option value="{$group.id}" selected="selected">{$group.title}</option>
                {else/}
                    <option value="{$group.id}">{$group.title}</option>
                {/if}
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">后台用户</label>
        <div class="controls">
            <select name="uid">
                {foreach $user_list as $user }
                <option value="{$user.id}">{$user.user_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-item umar-t50">
        <button class="btn submit-btn ajax-posts" type="submit">确 定</button>
        <button class="btn btn-return" onclick="goBack()">返 回</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript">
</script>
{/block}
