{extend name="common/base" /}
{block name="body"}
<form action="{:url()}" method="post" class="form-horizontal">
    {foreach $info_list as $info}
    <div class="form-item">
        <label class="item-label">{$info.title}<span class="check-tips">（{$info.remark}）</span></label>
        <div class="controls">
            <input type="hidden" name="id[]" value="{$info.id}">
            <input type="text" class="text input-large" name="value[]" value="{$info.value|default=''}">
        </div>
    </div>
    {/foreach}
    <div class="form-item umar-t50">
        <button class="btn submit-btn ajax-posts" type="submit">确 定</button>
        <button class="btn btn-return" onclick="goBack()">返 回</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript">
</script>
{/block}
