{extend name="common/base" /}
{block name="body"}
<form action="{:url()}" method="post" class="form-horizontal">
    <div class="form-item">
        <label class="item-label">文章标题<span class="check-tips">（用于前端的文章标题显示）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">文章内容<span class="check-tips">（用于前端的文章内容显示）</span></label>
        <div class="controls">
            {my:umeditor name="content" content="info.content|default=''"/}
        </div>
    </div>
    <div class="form-item umar-t50">
        {if condition=:isset($info['id'])}
        <input type="hidden" name="id" value="{$info.id}">
        {/if}
        <button class="btn submit-btn ajax-posts" type="submit">确 定</button>
        <button class="btn btn-return" onclick="goBack()">返 回</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript">
</script>
{/block}
