<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>登录|RThink</title>
        <!--[if lt IE 9]>
          <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="__CSS__/login.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="login-center">
            <div class="login-logo">
                <img src="__IMG__/login_logo.png" alt=""/>
            </div>
            <form action="{:url('')}" method="post">
            <div class="login-body">
                
                    <input type="text" name="user_name" placeholder="用户帐号"/>
                    <input type="password" name="password" placeholder="用户密码"/>
                    <div class="login-code">
                        <input type="text" name="code"  placeholder="验证码"/>
                        <img src="{:captcha_src(1)}" alt="验证码" onclick="this.src='{:captcha_src()}'" />
                    </div>
            </div>
            <div class="login-bottom">
                <button type="submit"><img src="__IMG__/login-buttom.png" alt=""/></button>
            </div>
                </form>
        </div>
        <div class="bottom">
            <span>四川腾驰网络信息有限公司</span>
        </div>
    </body>
</html>
