<div class="title">
    <img src="__IMG__/logo.png" alt=""/>
</div>
<div class="menu frist">

    <ul>
        <li>
            <div class="icon frist_page"></div>
            <a>菜单一</a>
            <div class="icon flod"></div>
            <div class="menu second">
                <ul>
                    <li>
                        <div class="icon frist_page"></div>
                        <a>菜单二</a>
                        <div class="icon flod"></div>
                        <div class="menu third">
                            <div class="triangle-left angle"></div>
                            <ul>
                                <li><a>菜单三</a></li>
                                <li><a>菜单三</a></li>
                                <li><a>菜单三</a></li>
                                <li><a>菜单三</a></li>
                                <li><a>菜单三</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="icon frist_page"></div>
            <a>菜单一</a>
            <div class="icon flod"></div>
            <div class="menu second">
                <ul>
                    <li>
                        <div class="icon frist_page"></div>
                        <a>菜单二</a>
                        <div class="icon flod"></div>
                        <div class="menu third">
                            <div class="triangle-left angle"></div>
                            <ul>
                                <li><a>菜单三</a></li>
                                <li><a>菜单三</a></li>
                                <li><a>菜单三</a></li>
                                <li><a>菜单三</a></li>
                                <li><a>菜单三</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>